NEXT_PUBLIC_SUPABASE_URL=https://djidlwumazwuwkedkbmu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_APP_URL=https://mundialentreamigos.online
API_FOOTBALL_KEY=
NEXT_PUBLIC_API_FOOTBALL_WIDGET_KEY=
WC2026_API_KEY=
