NEXT_PUBLIC_SUPABASE_URL=https://djidlwumazwuwkedkbmu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_APP_URL=https://mundialentreamigos.online
SUPABASE_SERVICE_ROLE_KEY=
API_FOOTBALL_KEY=
NEXT_PUBLIC_API_FOOTBALL_WIDGET_KEY=
WC2026_API_KEY=
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_WEBHOOK_SECRET=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_ENV=sandbox
PRIZE_ENTRY_AMOUNT_ARS=5000
PRIZE_ENTRY_CURRENCY_ARS=ARS
PRIZE_ENTRY_AMOUNT_USD=5
PRIZE_ENTRY_CURRENCY_USD=USD
